<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>balloon_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,285},{64,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,94}}</string>
			<key>sourceSize</key>
			<string>{64,94}</string>
		</dict>
		<key>balloon_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,391},{64,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,94}}</string>
			<key>sourceSize</key>
			<string>{64,94}</string>
		</dict>
		<key>balloon_orange.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,391},{64,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,94}}</string>
			<key>sourceSize</key>
			<string>{64,94}</string>
		</dict>
		<key>balloon_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,95},{64,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,94}}</string>
			<key>sourceSize</key>
			<string>{64,94}</string>
		</dict>
		<key>balloon_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,190},{64,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,94}}</string>
			<key>sourceSize</key>
			<string>{64,94}</string>
		</dict>
		<key>balloon_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,0},{64,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,94}}</string>
			<key>sourceSize</key>
			<string>{64,94}</string>
		</dict>
		<key>bird1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,484},{29,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,15}}</string>
			<key>sourceSize</key>
			<string>{29,15}</string>
		</dict>
		<key>bird2.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,484},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>boy_flying1.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,101},{47,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{47,100}}</string>
			<key>sourceSize</key>
			<string>{55,102}</string>
		</dict>
		<key>boy_flying2.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{52,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{52,100}}</string>
			<key>sourceSize</key>
			<string>{55,102}</string>
		</dict>
		<key>boy_flying3.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,380},{55,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,101}}</string>
			<key>sourceSize</key>
			<string>{55,102}</string>
		</dict>
		<key>boy_landed.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,202},{47,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{47,100}}</string>
			<key>sourceSize</key>
			<string>{55,102}</string>
		</dict>
		<key>cloud1.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,326},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>cloud2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,419},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>cloud3.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,391},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>cloud4.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,326},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>cloud5.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,419},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{384,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,325}}</string>
			<key>sourceSize</key>
			<string>{384,325}</string>
		</dict>
		<key>logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,326},{170,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{170,92}}</string>
			<key>sourceSize</key>
			<string>{188,100}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,456},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>sprites.png</string>
	</dict>
</dict>
</plist>
