<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>balloon_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,567},{129,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,188}}</string>
			<key>sourceSize</key>
			<string>{129,188}</string>
		</dict>
		<key>balloon_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,781},{129,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,188}}</string>
			<key>sourceSize</key>
			<string>{129,188}</string>
		</dict>
		<key>balloon_orange.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,781},{129,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,188}}</string>
			<key>sourceSize</key>
			<string>{129,188}</string>
		</dict>
		<key>balloon_purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,189},{129,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,188}}</string>
			<key>sourceSize</key>
			<string>{129,188}</string>
		</dict>
		<key>balloon_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,378},{129,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,188}}</string>
			<key>sourceSize</key>
			<string>{129,188}</string>
		</dict>
		<key>balloon_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,0},{129,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,188}}</string>
			<key>sourceSize</key>
			<string>{129,188}</string>
		</dict>
		<key>bird1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,965},{58,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,31}}</string>
			<key>sourceSize</key>
			<string>{58,31}</string>
		</dict>
		<key>bird2.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,965},{40,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,33}}</string>
			<key>sourceSize</key>
			<string>{40,33}</string>
		</dict>
		<key>boy_flying1.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,200},{93,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{93,198}}</string>
			<key>sourceSize</key>
			<string>{110,204}</string>
		</dict>
		<key>boy_flying2.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,0},{103,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{103,199}}</string>
			<key>sourceSize</key>
			<string>{110,204}</string>
		</dict>
		<key>boy_flying3.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,756},{110,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{110,201}}</string>
			<key>sourceSize</key>
			<string>{110,204}</string>
		</dict>
		<key>boy_landed.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,399},{92,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{92,198}}</string>
			<key>sourceSize</key>
			<string>{110,204}</string>
		</dict>
		<key>cloud1.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,652},{192,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,128}}</string>
			<key>sourceSize</key>
			<string>{192,128}</string>
		</dict>
		<key>cloud2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,836},{192,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,128}}</string>
			<key>sourceSize</key>
			<string>{192,128}</string>
		</dict>
		<key>cloud3.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,781},{192,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,128}}</string>
			<key>sourceSize</key>
			<string>{192,128}</string>
		</dict>
		<key>cloud4.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,652},{192,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,128}}</string>
			<key>sourceSize</key>
			<string>{192,128}</string>
		</dict>
		<key>cloud5.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,836},{192,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,128}}</string>
			<key>sourceSize</key>
			<string>{192,128}</string>
		</dict>
		<key>ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{768,651}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,651}}</string>
			<key>sourceSize</key>
			<string>{768,651}</string>
		</dict>
		<key>logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,652},{339,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{339,183}}</string>
			<key>sourceSize</key>
			<string>{376,201}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,910},{81,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,80}}</string>
			<key>sourceSize</key>
			<string>{81,81}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>sprites-hd.png</string>
	</dict>
</dict>
</plist>
